* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
}

ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    list-style-type: none;
}

body {
    background-image: url("/img/background.jpeg");
    background-repeat: no-repeat;
}

input#inputFirstCouplet {
    background-color: transparent;
    border: 2px solid #000;
    height: 31px;
    padding: 5px;
    margin-right:5px;
}

table#preview {
    margin: 0 auto;
    margin-top: 50px;
}

#preview input {
    font-size: 36px;
    width: 36px;
    height: 36px;
    background-color: transparent;
}

.button-red {
    background: rgb(202, 60, 60);
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 100%;
    padding: .5em 1em;
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 3px;
}

.input-container {
    text-align:center;
    margin-top: 30px;
}
